<p id="notice"><%= notice %></p>

<h1>Cheerups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheerups.each do |cheerup| %>
      <tr>
        <td><%= cheerup.name %></td>
        <td><%= cheerup.content %></td>
        <td><%= link_to 'Show', cheerup %></td>
        <td><%= link_to 'Edit', edit_cheerup_path(cheerup) %></td>
        <td><%= link_to 'Destroy', cheerup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheerup', new_cheerup_path %>
