<%= form_for(bird) do |f| %>
  <% if bird.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bird.errors.count, "error") %> prohibited this bird from being saved:</h2>

      <ul>
      <% bird.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :species %>
    <%= f.text_field :species %>
  </div>

  <div class="field">
    <%= f.label :origin %>
    <%= f.text_area :origin %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
